# **Pandas**

Panel data

La especialidad de pandas es el manejo de estructuras de datos

Las series en pandas son estructuras unidimencionales 

Los dataFrames en pandas son creados a partir de fuentes como diccionarios, listas, arrays de NumPy o archivos de datos como .csv, .xlxs.

### **Creación de Series**

Las series en pandas son estructuras unidimensionales de datos
Para crear un objeto Series en pandas, se utiliza el constructor Series()


***serie.pd.Series(<origen>)***

Origen puede ser una lista de Python un arreglo de numpy, un diccionario de Python o incluso otro objeto Series.

Series a partir de una lista python 

int64 solo tiene 64 caracteres en pandas de caracter

Cuando se genera un objeto Series() se genera un índice en forma de número entero consecutivo, de base cero

In [14]:
#Ev 2

## Ejemplo de listas en pandas

import pandas as pd
lista_python =[10,20,30,40,50]
edades_lista= pd.Series(lista_python)
edades_lista

0    10
1    20
2    30
3    40
4    50
dtype: int64

## **Series a partir de Diccionarios**

Valores con indices personalizados

In [ ]:
import pandas as pd

diccionario_python= {
    'A':10,
    'B':20,
    'C':30,
    'D':40,
    'E':50 
    }

# Añadir nuevos elementos al diccionario directamente
diccionario_python['Estucturas de datos' ]= 100
diccionario_python['Proceso administrativo']=90
diccionario_python['Estadistica descriptiva']=90


novedades_dic_py=pd.Series(diccionario_python)

print(novedades_dic_py)

A                       10
B                       20
C                       30
D                       40
E                       50
Estucturas de datos    100
dtype: int64

## **Numpy + Pandas**

In [9]:
import numpy as np
import pandas as pd

In [10]:
nuevos_indices = ['A','B','C','D','E']
arreglo_numpy = np.array([10,20,30,40,50])
edades_diccionario = pd.Series (arreglo_numpy, index = nuevos_indices)
edades_diccionario

A    10
B    20
C    30
D    40
E    50
dtype: int32

### **DataFrame**
En pandas son estructuras bidimensionales de datos
Para creacr un objeto ***DataFrame*** se utiliza el constructor DataFrame()

objeto_dataframe = pd.DataFrame(<Origen>)

Origen puede ser cualquier fuenteque admita dos dimensiones puede ser una lista de listas, un arreglo de numpy o diccionario de python, etc.

Estructura DataFrame se compone de :
- Columnas
- Tipos de datos de columnas
- Orden de las columnas

In [11]:
#Data frame desde listas de listas
lista_py= [
    [10,20,30,40],
    [20,40,60,80],
    [30,60,80,100]
]

df= pd.DataFrame(lista_py)
df

    0   1   2    3
0  10  20  30   40
1  20  40  60   80
2  30  60  80  100

In [13]:
edades_diccionario.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [14]:
edades_diccionario.info()

<class 'pandas.core.series.Series'>
Index: 5 entries, A to E
Series name: None
Non-Null Count  Dtype
--------------  -----
5 non-null      int32
dtypes: int32(1)
memory usage: 232.0+ bytes

### **DataFrame espeficicando índices y columnas**

In [19]:
list_py=[[10,20,30,40],
         [50,60,70,80],
         [90,100,110,120]
         ]

filas = ['a','b','c']
columnas = ['I','II','III','IV']
df=pd.DataFrame(list_py, 
                index= filas,columns=columnas)
df

    I   II  III   IV
a  10   20   30   40
b  50   60   70   80
c  90  100  110  120

### **DataFrame desde diccionario de listas**

In [24]:
dic_list= {
    'Nombre':['Jose','Ana','Esteban'],
    'Edad':[22,45,32],
    'Area':['TI','RH','Produccion']
}

df= pd.DataFrame(dic_list)
df

    Nombre  Edad        Area
0     Jose    22          TI
1      Ana    45          RH
2  Esteban    32  Produccion

In [22]:
diccionario_listas={
    "Nombre": ["ciro","imelda","jose"],
    "Edad":[22,32,15],
    "Area":["TI","RH", "Produccion"] 
    
}

df= pd.DataFrame(diccionario_listas)
df

   Nombre  Edad        Area
0    ciro    22          TI
1  imelda    32          RH
2    jose    15  Produccion

### **DataFrame desde un arreglo de NumPy**

In [13]:
import numpy as np
import pandas as pd


arreglo_np = np.array([
    [10,20,30,40],
    [50,60,70,80],
    [90,100,110,120]
])

filas=['a','b','c']
columnas=['I','II','III','IV']
df=pd.DataFrame(arreglo_np,index=filas,columns=columnas)

df

    I   II  III   IV
a  10   20   30   40
b  50   60   70   80
c  90  100  110  120